:root {
  --primary: black;
  --secondary: #E7AE4B;
  --bg-light: #ECEBE9;
  --bg-dark: #202020;


}


* {
  box-sizing: border-box;

}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  line-height: 1.6;
  background-color: var(--bg-light);
}



html {
  font-size: 14px;
}

p {
  font-weight: 400;
  font-size: 1.0rem;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;

}

h2 { 
  font-weight: 600;
  font-size: 1.85rem;

}
h3 {
  font-weight: 400;
  font-size: 1.2rem;

}

h4 {
  font-weight: 700;
  font-size: 1.25rem;
}

a {
  font-weight: 400;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}




a:hover {
  color: var(--secondary);
}


